<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceCar" />
                <binding name="NetTcpBinding_IServiceCustomer" />
                <binding name="NetTcpBinding_IServiceBooking" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceBooking">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IServiceCar">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IServiceCustomer">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6080/serviceAddress" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceBooking" contract="ProxyHttpBooking.IServiceBooking"
                name="WSHttpBinding_IServiceBooking">
                <identity>
                    <userPrincipalName value="DESKTOP-TEQ645D\OMX1044" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6081/serviceAddress" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceBooking" contract="ProxyHttpBooking.IServiceBooking"
                name="NetTcpBinding_IServiceBooking">
                <identity>
                    <userPrincipalName value="DESKTOP-TEQ645D\OMX1044" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/serviceAddress" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceCar" contract="ProxyHttpCar.IServiceCar"
                name="WSHttpBinding_IServiceCar">
                <identity>
                    <userPrincipalName value="DESKTOP-TEQ645D\OMX1044" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/serviceAddress" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceCar" contract="ProxyHttpCar.IServiceCar"
                name="NetTcpBinding_IServiceCar">
                <identity>
                    <userPrincipalName value="DESKTOP-TEQ645D\OMX1044" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7080/serviceAddress" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServiceCustomer" contract="ProxyHttpCustomer.IServiceCustomer"
                name="WSHttpBinding_IServiceCustomer">
                <identity>
                    <userPrincipalName value="DESKTOP-TEQ645D\OMX1044" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:7081/serviceAddress" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceCustomer" contract="ProxyHttpCustomer.IServiceCustomer"
                name="NetTcpBinding_IServiceCustomer">
                <identity>
                    <userPrincipalName value="DESKTOP-TEQ645D\OMX1044" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>