<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceCar" />
                <binding name="BasicHttpBinding_IServiceCustomer" />
                <binding name="BasicHttpBinding_IServiceBooking" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceCar" />
                <binding name="NetTcpBinding_IServiceCustomer" />
                <binding name="NetTcpBinding_IServiceBooking" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/serviceAddress" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceCar" contract="ProxyHttpCar.IServiceCar"
                name="BasicHttpBinding_IServiceCar" />
            <endpoint address="net.tcp://localhost:8070/serviceAddress" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceCar" contract="ProxyHttpCar.IServiceCar"
                name="NetTcpBinding_IServiceCar">
                <identity>
                    <userPrincipalName value="DESKTOP-3I2DCJV\#omx1044" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7080/serviceAddress" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceCustomer" contract="ProxyHttpCustomer.IServiceCustomer"
                name="BasicHttpBinding_IServiceCustomer" />
            <endpoint address="net.tcp://localhost:7070/serviceAddress" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceCustomer" contract="ProxyHttpCustomer.IServiceCustomer"
                name="NetTcpBinding_IServiceCustomer">
                <identity>
                    <userPrincipalName value="DESKTOP-3I2DCJV\#omx1044" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:6080/serviceAddress" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceBooking" contract="ProxyHttpBooking.IServiceBooking"
                name="BasicHttpBinding_IServiceBooking" />
            <endpoint address="net.tcp://localhost:6081/serviceAddress" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceBooking" contract="ProxyHttpBooking.IServiceBooking"
                name="NetTcpBinding_IServiceBooking">
                <identity>
                    <userPrincipalName value="DESKTOP-TEQ645D\OMX1044" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>